//imports

.top-header {
    display: flex;
    justify-content: center;
    padding: 1px;
    width: 60vw;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(16, 193, 16);
}

.outer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
}

.card-container {
    display: flex;
    justify-content: center;
    border: 2px solid cyan;
    height: 80vh;
    width: 40vw;
}

.cards-holder {
    border: 2px solid black;
    max-height: 30px;
    width: 80%;
}